:root {
  --dark: #2B2B2B;
  --dark-light: #3B3B3B;
  --dark-light-2: #565656;
  --dark-light-3: #5E5E5E;
  --dark-light-4: #747474;
  --white: #FFFFFF;
  --light: #E1E2D9;
  --secondary-color: #776262;
  --primary-color: #787A69;
  --contrast: #dff7a6;
  --text-size-regular: 1.2rem;
  --text-size-m: 2rem;
  --text-size-x: 4rem;
  --text-size-xm: 3rem;
  --text-size-xl: 7rem;
}

@media screen and (max-width: 590px) {
  :root {
    --text-size-regular: 1rem;
    --text-size-m: 1.65rem;
    --text-size-x: 2rem;
    --text-size-xm: 3rem;
    --text-size-xl: 3.5rem;
  }
}
@media screen and (max-width: 300px) {
  :root {
    --text-size-regular: 1rem;
    --text-size-m: 1.65rem;
    --text-size-x: 2rem;
    --text-size-xm: 3rem;
    --text-size-xl: 3rem;
  }
}
* {
  margin: 0;
  padding: 0;
  border: 0;
  flex-wrap: wrap;
  font-family: "montserrat", sans-serif;
}

body {
  max-width: 100vw;
  overflow-x: hidden;
}

.line {
  width: calc(100vw - 6px - 2rem);
  height: 2px;
  background: #ddd;
  box-sizing: border-box;
}

.break {
  margin: 4rem auto;
}

*::-webkit-scrollbar {
  width: 6px;
  height: 6px;
}

*::-webkit-scrollbar-track {
  background-color: var(--light);
}

*::-webkit-scrollbar-thumb {
  background: var(--primary-color);
  border-radius: 20px;
}

.icon {
  display: inline-block;
  width: 1em;
  height: 1em;
  background-color: currentColor;
  -webkit-mask-image: var(--svg);
  mask-image: var(--svg);
  -webkit-mask-repeat: no-repeat;
  mask-repeat: no-repeat;
  -webkit-mask-size: 100% 100%;
  mask-size: 100% 100%;
}
.icon.--phone {
  --svg: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24' width='24' height='24'%3E%3Cpath fill='none' stroke='black' stroke-linecap='round' stroke-linejoin='round' stroke-width='1.5' d='M18.118 14.702L14 15.5c-2.782-1.396-4.5-3-5.5-5.5l.77-4.13L7.815 2H4.064c-1.128 0-2.016.932-1.847 2.047c.42 2.783 1.66 7.83 5.283 11.453c3.805 3.805 9.286 5.456 12.302 6.113c1.165.253 2.198-.655 2.198-1.848v-3.584z'/%3E%3C/svg%3E");
}
.icon.--map {
  --svg: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24' width='24' height='24'%3E%3Cg fill='none' stroke='black' stroke-width='1.5'%3E%3Cpath d='M20 10c0 4.418-8 12-8 12s-8-7.582-8-12a8 8 0 1 1 16 0Z'/%3E%3Cpath fill='black' stroke-linecap='round' stroke-linejoin='round' d='M12 11a1 1 0 1 0 0-2a1 1 0 0 0 0 2'/%3E%3C/g%3E%3C/svg%3E");
}
.icon.--mail {
  --svg: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24' width='24' height='24'%3E%3Cg fill='none' stroke='black' stroke-width='1.5'%3E%3Cpath stroke-linecap='round' stroke-linejoin='round' d='m7 9l5 3.5L17 9'/%3E%3Cpath d='M2 17V7a2 2 0 0 1 2-2h16a2 2 0 0 1 2 2v10a2 2 0 0 1-2 2H4a2 2 0 0 1-2-2Z'/%3E%3C/g%3E%3C/svg%3E");
}
.icon.--like {
  --svg: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24' width='24' height='24'%3E%3Cpath fill='black' d='M5 9v12H1V9zm4 12a2 2 0 0 1-2-2V9c0-.55.22-1.05.59-1.41L14.17 1l1.06 1.06c.27.27.44.64.44 1.05l-.03.32L14.69 8H21a2 2 0 0 1 2 2v2c0 .26-.05.5-.14.73l-3.02 7.05C19.54 20.5 18.83 21 18 21zm0-2h9.03L21 12v-2h-8.79l1.13-5.32L9 9.03z'/%3E%3C/svg%3E");
}
.icon.--facebook {
  --svg: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='0.49em' height='1em' viewBox='0 0 486.037 1000'%3E%3Cpath fill='%23000' d='M124.074 1000V530.771H0V361.826h124.074V217.525C124.074 104.132 197.365 0 366.243 0C434.619 0 485.18 6.555 485.18 6.555l-3.984 157.766s-51.564-.502-107.833-.502c-60.9 0-70.657 28.065-70.657 74.646v123.361h183.331l-7.977 168.945H302.706V1000z'/%3E%3C/svg%3E");
}
.icon.--x {
  --svg: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='1em' height='1em' viewBox='0 0 16 16'%3E%3Cpath fill='%23000' d='M9.294 6.928L14.357 1h-1.2L8.762 6.147L5.25 1H1.2l5.31 7.784L1.2 15h1.2l4.642-5.436L10.751 15h4.05zM7.651 8.852l-.538-.775L2.832 1.91h1.843l3.454 4.977l.538.775l4.491 6.47h-1.843z'/%3E%3C/svg%3E");
}
.icon.--linkedin {
  --svg: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='1em' height='1em' viewBox='0 0 24 24'%3E%3Cpath fill='%23000' d='M18.44 3.06H5.56a2.507 2.507 0 0 0-2.5 2.5v12.88a2.507 2.507 0 0 0 2.5 2.5h12.88a2.5 2.5 0 0 0 2.5-2.5V5.56a2.5 2.5 0 0 0-2.5-2.5m1.5 15.38a1.511 1.511 0 0 1-1.5 1.5H5.56a1.511 1.511 0 0 1-1.5-1.5V5.56a1.511 1.511 0 0 1 1.5-1.5h12.88a1.511 1.511 0 0 1 1.5 1.5Z'/%3E%3Cpath fill='%23000' d='M6.376 10.748a1 1 0 1 1 2 0v6.5a1 1 0 0 1-2 0Z'/%3E%3Ccircle cx='7.376' cy='6.744' r='1' fill='%23000'/%3E%3Cpath fill='%23000' d='M17.62 13.37v3.88a1 1 0 1 1-2 0v-3.88a1.615 1.615 0 1 0-3.23 0v3.88a1 1 0 0 1-2 0v-6.5a1.016 1.016 0 0 1 1-1a.94.94 0 0 1 .84.47a3.609 3.609 0 0 1 5.39 3.15'/%3E%3C/svg%3E");
}
.icon.--instagram {
  --svg: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='1em' height='1em' viewBox='0 0 24 24'%3E%3Cpath fill='%23000' d='M7.8 2h8.4C19.4 2 22 4.6 22 7.8v8.4a5.8 5.8 0 0 1-5.8 5.8H7.8C4.6 22 2 19.4 2 16.2V7.8A5.8 5.8 0 0 1 7.8 2m-.2 2A3.6 3.6 0 0 0 4 7.6v8.8C4 18.39 5.61 20 7.6 20h8.8a3.6 3.6 0 0 0 3.6-3.6V7.6C20 5.61 18.39 4 16.4 4zm9.65 1.5a1.25 1.25 0 0 1 1.25 1.25A1.25 1.25 0 0 1 17.25 8A1.25 1.25 0 0 1 16 6.75a1.25 1.25 0 0 1 1.25-1.25M12 7a5 5 0 0 1 5 5a5 5 0 0 1-5 5a5 5 0 0 1-5-5a5 5 0 0 1 5-5m0 2a3 3 0 0 0-3 3a3 3 0 0 0 3 3a3 3 0 0 0 3-3a3 3 0 0 0-3-3'/%3E%3C/svg%3E");
}

header {
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100vw;
  height: 4.5rem;
  box-sizing: border-box;
  padding: 0.8rem 1.6rem;
  z-index: 4;
  overflow: hidden;
}
header label[for=btn] {
  display: none;
  user-select: none;
  cursor: pointer;
}
header label[for=btn] span {
  transition: 0.35s color;
}
header nav {
  display: flex;
  gap: 1.6rem;
}
header nav a {
  position: relative;
  text-decoration: none;
  color: var(--light);
}
header nav a span {
  font-size: var(--text-size-regular);
}
header nav a:hover {
  color: var(--contrast);
}
header nav a::after {
  content: "";
  height: 2px;
  transition-duration: 0.35s;
  transition-property: transform, background;
  transform: scaleX(0);
  transform-origin: 0 0;
  border-radius: 4px;
  width: 100%;
  display: block;
  background: var(--contrast);
}
header nav a:hover::after, header nav a[active]:hover::after {
  transform: scaleX(100%);
  background: var(--contrast);
}
header nav a[active]::after {
  transform: scaleX(100%);
  background: var(--light);
}

@media (max-width: 1122px) {
  header nav {
    position: fixed;
    flex-direction: column;
    top: 4.5rem;
    transform: translate(0);
    translate: -100%;
    left: 0;
    height: calc(100vh - 80px);
    padding: 11.6rem 11.6rem 11.6rem 1.6rem;
    background: rgba(120, 122, 105, 0.8);
    backdrop-filter: blur(1.6rem);
    transition: 0.35s transform;
  }
  header nav a {
    color: var(--light);
  }
  header label[for=btn] {
    display: block;
    color: var(--light);
    font-size: var(--text-size-m);
  }
  header label[for=btn] span {
    display: block;
    margin-top: 0.6rem;
  }
  header input#btn:checked ~ nav {
    transform: translate(100%);
  }
  header input#btn:checked ~ label[for=btn] span {
    color: var(--contrast);
  }
}
@media screen and (max-width: 300px) {
  header {
    height: 60px;
  }
  header img {
    height: 40px;
  }
}
section.background {
  position: sticky;
  height: 56.24vw;
  top: calc(-56.25vw + 4.5rem);
  display: flex;
  justify-content: center;
  align-items: center;
  box-sizing: border-box;
  z-index: 2;
}
section.background video, section.background .bg {
  filter: brightness(0.7);
  position: relative;
  height: 56.24vw;
  max-width: 100vw;
  width: 100%;
  object-fit: cover;
  object-position: 0 0;
  background: var(--primary-color);
}
section.background img, section.background .content-center {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
section.background .content-center {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 22px;
  color: var(--light);
  text-align: center;
}
section.background .content-center img {
  position: unset;
  transform: none;
}
section.background .blur {
  height: 4.5rem;
  width: 100vw;
  backdrop-filter: blur(0);
  margin-top: -4.5rem;
  transition-duration: 0.35s;
  transition-property: background, backdrop-filter;
}
section.background[sticky=true] .blur {
  backdrop-filter: blur(11px);
}

@media screen and (max-width: 300px) {
  section.background {
    top: calc(-56.25vw + 60px);
  }
  section.background img {
    height: 50px;
    object-fit: contain;
  }
}
section.middle-text {
  padding: var(--text-size-xl);
  font-size: var(--text-size-m);
  color: var(--primary-color);
}
section.middle-text.carousel {
  padding: var(--text-size-x);
}
section.middle-text.carousel h2 {
  font-size: var(--text-size-xm);
}
section.middle-text h2 {
  font-weight: 200;
  font-size: var(--text-size-xl);
}
section.middle-text h2 span {
  display: block;
}

.development-of-experiences {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.development-of-experiences img {
  max-width: 90vw;
  object-fit: contain;
}
.development-of-experiences h2 {
  font-size: var(--text-size-xl);
  text-align: center;
  font-family: Loto;
  color: var(--dark-light-3);
}
.development-of-experiences h2 span {
  font-weight: 100;
  display: block;
}

section.vertical-target {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  width: 100%;
  grid-template-rows: 1fr;
  grid-template-columns: 1fr 1fr;
  color: var(--dark-light-3);
}
section.vertical-target .left {
  height: 500px;
  width: 50vw;
}
section.vertical-target .left video {
  width: 100%;
  height: 500px;
  object-fit: cover;
}
section.vertical-target .right, section.vertical-target .left {
  width: 50%;
  height: 500px;
  box-sizing: border-box;
}
section.vertical-target .right {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 500px;
  padding: var(--text-size-x);
  background: var(--light);
}
section.vertical-target .right img {
  display: block;
  margin: auto;
}
section.vertical-target .right h2 {
  color: var(--dark-light-3);
  margin-top: 1rem;
  font-weight: 300;
  font-size: var(--text-size-m);
}
section.vertical-target .right p {
  max-width: 80%;
  line-height: 1.5rem;
}

@media screen and (max-width: 850px) {
  section.vertical-target .left, section.vertical-target .right {
    width: 100%;
    height: max-content;
  }
  section.vertical-target .right img {
    margin: 0;
  }
}
section.carousel-container {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  width: calc(100vw - 6px);
  height: calc(78vh - 4.5rem);
  overflow: hidden;
}
section.carousel-container .carousel {
  position: sticky;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  height: 100%;
  overflow: visible;
  transition-property: transform;
}
section.carousel-container .carousel [carousel-item] {
  width: calc(100vw - 6px);
  height: 100%;
  box-sizing: border-box;
}
section.carousel-container .carousel [carousel-item].img {
  background-size: contain;
  background-position: center center;
  background-repeat: no-repeat;
}
section.carousel-container .carousel.transition {
  transition-duration: 0.5s;
}
section.carousel-container .carousel.transition-fast {
  transition-timing-function: linear;
}
section.carousel-container .controls {
  color: var(--light);
  display: flex;
  flex-direction: row;
  align-items: center;
  width: max-content;
  position: sticky;
  margin-bottom: -10%;
  left: 50%;
  transform: translateX(-50%);
  bottom: 10%;
  height: 3rem;
  padding: 0.5rem 1rem;
  border-radius: 22rem;
  background: rgba(0, 0, 0, 0.4);
  flex-wrap: nowrap;
}
section.carousel-container .controls svg {
  color: var(--light);
  cursor: pointer;
  height: 1.2rem;
}
section.carousel-container .controls svg:hover {
  color: var(--secondary-color);
}
section.carousel-container .controls svg:active {
  opacity: 0.7;
}
section.carousel-container .controls .steps {
  margin: 0 0.5rem;
  display: flex;
  width: max-content;
  gap: 0.4rem;
}
section.carousel-container .controls .steps .step {
  width: 1rem;
  height: 1rem;
  border: solid 2px var(--light);
  border-radius: 2rem;
  transition: 0.35s background;
  cursor: pointer;
}
section.carousel-container .controls .steps .step.active {
  background: var(--white);
}
section.carousel-container .controls .steps .step:hover {
  border-color: var(--contrast);
}
section.carousel-container .controls .steps .step:active {
  opacity: 0.7;
}

section.text-center {
  padding: var(--text-size-xl);
  width: 1080px;
  max-width: 100%;
  margin: auto;
  text-align: center;
  box-sizing: border-box;
  font-size: var(--text-size-regular);
  color: var(--dark-light-4);
}
section.text-center h2 {
  font-weight: 400;
  font-size: var(--text-size-m);
  margin-bottom: var(--text-size-m);
}

#contact-container {
  width: 100%;
  display: flex;
  padding: 44px 0;
  justify-content: center;
  background: #d9d9d4;
}
#contact-container #contact {
  width: 100%;
  max-width: 1368px;
  justify-content: center;
  background: #e9e9e5;
  margin-bottom: 22px;
  border-radius: 11px;
}
#contact-container #contact h2.title {
  grid-column: 2;
  width: 100%;
  max-width: 1368px;
  text-align: left;
  padding: 22px;
  font-size: var(--text-size-m);
  box-sizing: border-box;
  color: #444;
}
#contact-container .container {
  width: 100%;
  display: grid;
  gap: 22px;
  grid-template-columns: 1fr 1fr;
  background: #e9e9e5;
  border-radius: 7px;
  margin-bottom: 22px;
}
#contact-container .container .basic {
  display: grid;
  justify-content: space-between;
  flex-wrap: wrap;
  box-sizing: border-box;
  justify-content: center;
  padding: 22px;
  grid-template-columns: 0.8fr 0.8fr;
  grid-template-columns: 0.8fr 0.8fr;
  gap: 11px 11px;
}
#contact-container .container .basic .item {
  display: grid;
  grid-template-rows: auto 2fr auto;
  padding: 22px;
  gap: 22px;
  font-size: var(--text-size-regular);
  color: #333;
  background: #d9d9d4;
  border-radius: 7px;
}
#contact-container .container .basic .item h2 {
  font-weight: normal;
  font-size: 1.4rem;
}
#contact-container .container .basic .item p {
  font-size: var(--text-size-regular);
}
#contact-container .container .basic .item a {
  color: #333;
}
#contact-container .container .basic .item .icon {
  font-size: 35px;
  color: #555;
  transition: 0.35s color;
  cursor: default;
}
#contact-container .container .basic .item .icon.--facebook:hover {
  color: #1b1bd3;
}
#contact-container .container .basic .item .icon.--linkedin:hover {
  color: #1b4cd3;
}
#contact-container .container .basic .item .icon.--x:hover {
  color: #000;
}
#contact-container .container .basic .item .icon.--instagram:hover {
  color: #e9202a;
}
#contact-container .container .basic .item:hover .icon.--phone, #contact-container .container .basic .item:hover .icon.--mail, #contact-container .container .basic .item:hover .icon.--like {
  color: #2294ff;
}
#contact-container .container .basic .item:hover .icon.--map {
  color: #3cc469;
}
#contact-container .container .basic .item .social {
  display: flex;
  gap: 22px;
}
#contact-container .container .basic .item .social .icon {
  cursor: pointer;
}
#contact-container .container .form {
  display: flex;
  justify-content: center;
  align-items: center;
}
#contact-container .container .form form, #contact-container .container .form form label {
  display: flex;
  flex-direction: column;
}
#contact-container .container .form form {
  gap: 22px;
  width: 100%;
  max-width: 300px;
  padding: 22px;
  background: #d9d9d4;
  border-radius: 7px;
}
#contact-container .container .form form h2 {
  font-weight: normal;
  display: block;
  margin-bottom: 11px;
}
#contact-container .container .form form input {
  padding: 11px;
  outline: none;
  background: #c2c2b7;
}
#contact-container .container .form form input[type=button] {
  font-weight: 600;
  font-size: var(--text-size-regular);
  color: #433;
}
#contact-container .container .separator {
  background: #000;
}
#contact-container iframe {
  width: 100%;
}

@media screen and (max-width: 1144px) {
  #contact-container .container {
    display: flex;
    flex-direction: column-reverse;
    max-width: 100%;
  }
  #contact-container .container .basic {
    display: flex;
  }
  #contact-container .container .basic .item {
    width: 222px;
  }
}
#text-carousel {
  position: relative;
  background: #8E8D83;
  height: 90vh;
  width: auto;
}
#text-carousel .steps-container {
  width: 100%;
  height: 100%;
  position: absolute;
  display: flex;
  flex-direction: column;
  justify-content: end;
  align-items: center;
  top: 0;
  pointer-events: none;
}
#text-carousel .steps-container .steps {
  display: flex;
  gap: 20px;
  box-sizing: border-box;
  padding: 22px;
}
#text-carousel .steps-container .steps div {
  pointer-events: all;
  width: 11px;
  height: 11px;
  border-radius: 11px;
  background: #b1b0a8;
  cursor: pointer;
}
#text-carousel .steps-container .steps div.active {
  background: #e6e4d9;
}
#text-carousel .controls {
  position: absolute;
  background: none;
  display: flex;
  justify-content: space-between;
  padding: 22px;
  box-sizing: border-box;
  z-index: 3;
  width: 100%;
  height: 100%;
  top: 0;
  pointer-events: none;
}
#text-carousel .controls svg {
  pointer-events: all;
}
#text-carousel [carousel-item] {
  display: flex;
  justify-content: center;
  height: 100%;
}
#text-carousel [carousel-item] p {
  display: flex;
  flex-direction: column;
  justify-content: center;
  max-width: 1024px;
  gap: 22px;
  transition-duration: 1s;
  transition-property: opacity, transform;
  transition-timing-function: ease-in;
  opacity: 1;
  padding: 44px;
  font-size: var(--text-size-xm);
  color: #fff;
  height: 100%;
  box-sizing: border-box;
}

@keyframes fade-lest {
  from {
    transform: translateX(-50%);
    opacity: 0;
  }
  to {
    transform: translateX(0);
    opacity: 1;
  }
}

/*# sourceMappingURL=style.css.map */
